body {
font-family: Arial, sans-serif;
background-color: #1a1a1a;
color: #ffffff;
margin: 0;
padding: 0;
}

header {
background-color: #c8102e;
padding: 20px;
text-align: center;
}

h1 {
margin: 0;
}

section {
margin: 20px;
padding: 20px;
background-color: #2a2a2a;
border-radius: 5px;
}

.update-schedule {
background-color: #2a2a2a;
border: 1px solid #c8102e;
padding: 20px;
border-radius: 5px;
display: flex;
flex-direction: column;
align-items: center; /* Căn giữa nội dung */
}

label {
display: block;
margin: 10px 0 5px;
width: 95%;
}

input[type="date"],
input[type="time"],
select {
width: 100%;
padding: 10px;
margin-bottom: 10px;
border: 1px solid #c8102e;
border-radius: 5px;
background-color: #333333;
color: #ffffff;
}

input[type="date"]:focus,
input[type="time"]:focus,
select:focus {
border-color: #c8102e;
outline: none;
}

table {
width: 100%;
border-collapse: collapse;
margin-top: 10px;
}

th, td {
border: 1px solid #c8102e;
padding: 10px;
text-align: left;
}

th {
background-color: #c8102e;
color: #ffffff;
}

tr:nth-child(even) {
background-color: #333333;
}

button {
background-color: #c8102e;
color: #ffffff;
border: none;
padding: 10px 15px;
cursor: pointer;
border-radius: 5px;
}

button:hover {
background-color: #a50d24;
}

footer {
text-align: center;
padding: 10px;
background-color: #c8102e;
position: relative;
bottom: 0;
width: 100%;
}